<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoWebShop Automation Suite" configfailurepolicy="continue">
	<listeners>
		<listener class-name="com.tricentis.demowebshop.Listeners.MyListeners"></listener>
	</listeners>
  <test name="DemoWebShop Tests">
    <classes>
      <class name="com.tricentis.demowebshop.testcases.RegisterTest"/>
      <class name="com.tricentis.demowebshop.testcases.LoginTest"/>
      <class name="com.tricentis.demowebshop.testcases.SearchTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
